@font-face {
    font-family: 'MyFont';
    src: url(../font/Arciform.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
}

body {
    background-image: url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

nav {
    max-width: 4000px;
    position: relative;
}

nav .nav-wrapper {
    width: 100%;
}

.brand-logo img {
    margin-left: 25px;
}

.slider {
    margin-top: 100px;
}

.link {
    font-size: 30px;
    position: relative;
    word-spacing: 10px;
}


.link a {
    color: white;
    text-decoration: none;

}

.link img {
    position: relative;
    border-image: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: white;
}

span {
    font-size: 25px;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 15px;
    height: 200px;
}

#wrapper h1 {
    font-size: 25px;
    line-height: 15px;
}