header {

    min-height: 40px;
    max-height: 40px;
    position: fixed;
    left: 0px;
    top: 0px;
    right:0px;

    background: rgba(47, 79, 79, 0.6);
    z-index: 2;

}

.header-nav {

    display: flex;
    max-height: 40px;

    justify-content: space-around;

}

.item1 {

    display: flex;
    justify-content: space-around;

    max-height: 40px;

}
.item2 {

    display: flex;
    justify-content: space-around;

    max-height: 40px;

}


.header-button {
    
    text-indent:0;
	display:inline-block;
	color:#ffffff; /* Cor do Texto*/
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font: size 32;
	font-weight:normal;
    font-style:normal;
    
    height:40px;
    line-height:40px;
    
    width: auto;

	text-decoration:none;
	text-align:center;
    text-shadow:0px 3px 6px #2f6627;
    
}

.header-button:hover {

    color: gray; /* Cor de quando o mouse fica encima*/

}

.header-button:active {

	position:relative;
	top:2px;
}

#button-estou-aqui {

    width: 125px;
    height: 125px;

    border-radius: 50%;

    margin-top: 20px;

}

#logo{

    width: 125px;
    height: 125px;

    padding-left: 45px;
    margin-top: -20px;

}
