
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
-----------------------------Logo do Site 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.logo-button{

    width: 250px;
    height: 180px;

    padding: 5px;

    border-radius:25%;
    cursor: pointer;
    background-color: white;
    position: relative;
    left: 15px;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
-----------------------------   MENU RAPIDO
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.meu-perfil{
    position: relative;
    top:50px;
    left: 15px;
}
.meu-perfil img{
    
    border-radius: 30%;
    height: 140px;
    width: 250px;
    padding: 1.5px;
  
}


.fast-menu-buttons button {
    background-color: rgba(47, 79, 79, 0.6); /*cor de fundo*/
    border: 0.1px solid black; /*Cor da borda */
    color: #ffffff; /* cor do texto */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*fonte do texto*/
    font-size:16px; 
    font-weight:normal;
    font-style:normal;
    width: 250px;
    padding: 6px; /* quadrado em que esta o botão vertical/horizontal */
    cursor: pointer; /* comportamento do ponteiro quando no botão */
    
   
  }
  
  .fast-menu-buttons button:hover {
    background-color: gray;
  }
  
  .fast-menu-buttons button:active{
      position:relative;
      top:2px;
      
  }

  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
------------------------LOGO EVENTO E DESCRIÇÃO
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.logo{
    
   
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
    position: relative;
    top:-390px;
    left: 300px;
    text-align: center;
    width: 60%;
}

.logo img{
    width: 100%;
    
}
.logo p{
    text-indent: 10%;
    text-align: justify;
    padding: 3%;
    overflow: hidden;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
------------------------PALESTRANTES
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* Tentativas de deixar mais bonito não deeram certas por enquanto, 
pois a ideia é poder colocar facilmente apenas usando HTML, novos palestrantes
Aqui pretendo fazer esta porra toda virar containers repetitivos, e então alterar a porra toda de forma que possam se ajustar melhor, então dar uma animação a essas karalhas
*/

.speakers{
    position: relative;
    width: 60%;
    left: 8%;
    right: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.speakers-avatar{
    width: 200px;
    height: 170px;
    border-radius:100%;
    border:solid 1px black;
    position: relative;
    left: 220px;
    top: -350px;
    cursor: pointer;
}

.speakers-avatar:hover {
    border-radius:3%;
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
------------------------SOBRE CADA PALESTRA
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.description-each-event{
    position: relative;
    top: -350px;
    width: 80%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    text-align:  center;
}

.description-each-event h1{
    text-align: center;
    font-family: Arciform Sans;
}

.description-each-event h2{
    text-align:center;
    font-style: italic;
}

.description-each-event p{
    text-align: justify;
    text-indent: 10%;
}
.description-each-event img{

    border-radius: 10%;
    border: solid rgba(0, 0, 0, 0.3);
    width: 30%;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@ MAPA LOCALIZQÇÃO DO EVENTO E ABOUT US
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.mapa{
    position: relative;
    width: 40%;
    top: -300px;
    background: white;
    overflow: hidden;
    padding: 1px;
    border: solid rgba(255, 255, 255, 0.20) 0.2px;
    border-radius: 5%;
    left: 8.5%;
    height: 300px;
    cursor: pointer;
}

.mapa img{
    width: 100%;
}

/* LOCALIZAÇÃO LOCAIS DE VENDE DE INGREÇO E ETC */

.info-event{
    position: relative;
    top:-600px ;
    left: 50%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 20px;
    height: 260px;
    border-radius: 5%;
    font-family: Arciform Sans;
    color: white;
    text-align: center;
    overflow: hidden;
    letter-spacing: normal;
    word-spacing: 0.5px;
    line-height: 25px;

}

.contact-us{
    position: fixed;
    top: 25%;
    left: 94%;
    width: 150px;
    background-color: rgba(47, 79, 79, 0.9);
    height:160px;
    border-radius: 25%;
    display: flex;
    flex-direction: column;

}

.contact-us img{
    
    width: 25%;
    border-radius: 80%;

}

.contact-us img:hover{
    cursor: pointer;
    width: 28%;
}

footer{
    text-align: center;
    color: white;
    font-family: Arciform Sans;
    letter-spacing: 5px;
   top:-10%;
}