header {
    min-height: 40px;
    max-height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(47, 79, 79, 0.6);
    z-index: 2;
    text-align: justify;

}

header img{
    
    position: relative;
    left: 50px;
    top: -10px
    
}

body{
    background-image: url("../background/test.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.header-button {
    top: -60px;
    text-indent:0;
	display:inline-block;
	color:#ffffff; /* Cor do Texto*/
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font: size 32;
	font-weight:normal;
    font-style:normal;
    
    height:40px;
    line-height:40px;
    
    width: auto;

	text-decoration:none;
	text-align:center;
    text-shadow:0px 3px 6px #2f6627;
    
}
.header-button:hover {
    color: gray; /* Cor de quando o mouse fica encima*/
}
.header-button:active {
	position:relative;
	top:2px;
}

#button-criar-evento {
    position: relative;;
    left: 200px;
}

#button-login {
    position: relative;
    left: 900px;
}

#button-cadastro {
    position: relative;
    left: 950px;
}

#button-estou-aqui {

    width: 150px;
    height: 150px;

    border-radius: 50%;
    position: fixed;
    left:90%;
    top:10px;
}